* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;

    & * {
        width: 80%;
    }
}

.search {
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;

    * {
        padding: .5rem;
    }

    & input {
        width: 80%;
    }

    & button {
        width: 20%;
    }
}

#city-hero {
    color: white;
    display: flex;
    padding: 2rem;
    height: 250px;
    font-size: 2rem;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 2rem;

    & p {
        width: fit-content;
    }
}

#city-data {
    & table {
        width: 100%;
    }

    & table tr td {
        border: 1px gray solid;
        width: 50%;
        padding: .5rem;
    }
}